
html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
  /* width: 100vw; */
}

body {
  counter-reset: exercise-counter;
  background-color: rgb(230, 230, 230);
  padding-bottom: 4em;
  margin: 0;
  text-size-adjust: none;
}

#home-button {
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  color: var(---theme-color);
  text-decoration: none;
  font-size: 3em;
  z-index: 1;
}

header>div {
  text-align: center;
  margin: 1em 0 0 0;
  color: var(---theme-color);
  font-weight:600;
}

h1 {
  color: var(---theme-color);
  letter-spacing: 3px;
  font-variant: small-caps;
  text-align: center;
  font-weight: 900;
  text-size-adjust: auto;
}

h2 {
  color: rgb(230, 230, 230);
  background-color: var(---theme-color);
  text-align: center;
  letter-spacing: 1px;
  padding-block: 0.5em;
  margin-top: 3em;
}

h3 {
  text-align: center;
  margin-top: 3em;
  color: var(---theme-color);
  padding-block: 0.5em;
  background-color: rgb(201, 201, 201);
  margin-inline: auto;
}

#contents-container {
  display: flex;
  justify-content: center;
}

#contents {
  list-style-type: none;
  padding: 0;
  margin-inline: 1em;
  display: grid;
  gap: 0.5em;
}

#contents li a {
  color: var(---theme-color);
  font-weight: 600;
}

#contents ul {
  list-style-type: none;
}

.exercise {
  background-color: white;
  position: relative;
  margin-top: 4em;
  padding: 1em;
  box-shadow: 5px 5px 10px 4px rgb(140, 140, 140);
  box-shadow: 5px -5px 10px 4px rgb(140, 140, 140);
  margin-inline: auto;
  line-height: 1.5;
  width: 100vw;
}

.exercise::before {
  background-color: white;
  color: var(---theme-color);
  font-weight: 600;
  font-size: 1.2rem;
  font-variant: small-caps;
  counter-increment: exercise-counter;
  content: "Ασκηση " counter(exercise-counter);
  box-shadow: 5px -10px 10px 0px rgb(140, 140, 140);
  position: absolute;
  top: -1.5em;
  left: 0em;
  padding-inline: 0.5em;
}

.exercise-note {
  color: var(---theme-color);
  font-weight: 600;
  margin: 0 0 1em 0;
  padding: 0;
}

.array-list,
.vertical-list,
.array-list-3  {
  counter-reset: list;
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  display: grid;
  align-items: center;
  row-gap: 1em;
  margin-top: 1em;
}

.array-list > li,
.vertical-list > li,
.array-list-3 > li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.array-list > li::before,
.vertical-list > li::before,
.array-list-3 > li::before {
  content: "("counter(list) ")   ";
  counter-increment: list;
  white-space: pre;
}

.bullet-list {
  padding-left: 0;
  list-style-position: inside;
  display: grid;
  align-items: center;
  row-gap: 0.5em;
}

nav {
  background-color: var(---theme-color);
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  margin: 0;
}

/* nav ul li {
  margin-block: 1em;
} */

nav a {
  color: whitesmoke;
  font-weight: 600;
  font-variant: small-caps;
}

.scale-08 {
  margin:0;
  padding: 0;
  transform: scale(0.8);
}

.scale-09 {
  margin:0;
  padding: 0;
  transform: scale(0.9);
}

.mobile-display {
  display: initial;
}

.desktop-display {
  display: none;
}


@media (1000px <= width) {

  .scale-08, .scale-09 {
    transform: scale(1);
  }

  .mobile-display {
    display: none;
  }
  
  .desktop-display {
    display: initial;
  }

  nav ul {
    flex-direction: row;
    gap: 1em;
  }

  header>div {
    white-space: pre;
    text-align: right;
    margin: 0 1em 0 0;
    font-size: 1.2em;
  }

  h1 {
    font-size: 3rem;
  }
  .exercise {
    width: 70%;
  }

  .array-list {
    grid-template-columns: 1fr 1fr;
  }

  .array-list-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}